// Stylus grid imports
// see docs at: http://stylusgrid.com
@import 's-grid-settings'
@import 's-grid-functions'

// normalize.css
@import '../imports/client/styles/normalize.import.styl'

// settings for all styles
@import '../imports/client/styles/settings.import.styl'

// sChat theme styles
@import '../imports/client/styles/s-chat-theme/apps-main.import.styl'
@import '../imports/client/styles/s-chat-theme/chat.import.styl'
@import '../imports/client/styles/s-chat-theme/client-app.import.styl'

// sChat promo (index,, login, sign-up) page styles
@import '../imports/client/styles/s-chat-promo/promo-main.import.styl'
@import '../imports/client/styles/s-chat-promo/accounts.import.styl'
