<template name="changePasswordModal">
    <div class="s-chat-modal-content">
        <h2 class="spacing-bottom">
            Change password
        </h2>
        <p class="spacing-bottom">
            <input type="password" class="js-change-pass-old" placeholder="Old Password">
        </p>
        <p>
            <input type="password" class="js-change-pass-new" placeholder="New Password">
        </p>
    </div>
    <div>
        <a href="#" class="s-chat-modal-cancel-button js-close-modal">Cancel</a>
        <a href="#" class="s-chat-modal-confirm-button js-change-password">Change</a>
    </div>
</template>