<template name="promoIndex">
    <div class="s-chat-promo-main-container">

        <div class="intro-section">
            <div class="s-chat-promo-container">
                <div class="intro-section-left">
                    <h1 class="intro-section-header">sChat</h1>
                    <h2 class="intro-section-subheader">Open Source Live Chat App</h2>
                    <p class="intro-section-desc">
                        Register here and embed the chat box on your website. It’s very simple. There is also a package for Meteor apps. <br> You can use it for free!
                    </p>
                    <p>
                        <a href="/sign-up" class="intro-section-button">
                            Sign Up
                        </a>
                        <a href="https://github.com/juliancwirko/s-chat-app" class="intro-section-button white">
                            GitHub
                        </a>
                        <a href="/docs" class="intro-section-button white">
                            Getting Started
                        </a>
                    </p>
                </div>
                <div class="intro-section-right">
                    <img src="/promo-screen.png" alt="sChat - Open Source Live Chat">
                </div>
            </div>
        </div>

        <div class="options-section">
            <div class="s-chat-promo-container">
                <div class="options-section-wrapper">
                    <h1 class="options-section-header">
                        <img src="/logo.svg" alt=""> <br>
                        You can <span class="bold">host your own</span> sChat app. You can also <span class="bold">use a free plan</span>.<br>More options to be announced.
                    </h1>
                    <h2 class="options-section-subheader"></h2>
                    <div class="options-pricing-table-wrapper">
                        <div class="options-pricing-table-item">
                            <h2 class="header">Self Hosted</h2>
                            <p class="price">
                                <span>Free!</span>
                            </p>
                            <ul class="list">
                                <li>Download the software and install it on your own Meteor server</li>
                                <li>Modify the code and adjust it to your needs</li>
                                <li>Manage all your own updates and code</li>
                                <li>You can also reuse parts of this app in your code</li>
                                <li>Paid help and customization <br> <a href="/docs#support" class="js-docs-link">[contact me]</a></li>
                            </ul>
                            <div class="footer-button">
                                <a href="https://github.com/juliancwirko/s-chat-app" class="button">GitHub</a>
                            </div>
                        </div>
                        <div class="options-pricing-table-item">
                            <h2 class="header">Standard</h2>
                            <p class="price">
                                <span>Free!</span>
                            </p>
                            <ul class="list">
                                <li>Max 3 client apps at once</li>
                                <li>Max 3 day chat history</li>
                                <li>One operator/admin user per account</li>
                                <li>Automatic updates</li>
                                <li>Ban by IP address</li>
                                <li>E-mail notifications</li>
                                <li>Remove messages by client session ID and client IP address</li>
                                <li>Chat box CSS customization</li>
                                <li>Standard support via GitHub Issues</li>
                                <li>SSL Support</li>
                            </ul>
                            <div class="footer-button">
                                <a href="/sign-up" class="button">Sign Up</a>
                            </div>
                        </div>
                        <div class="options-pricing-table-item">
                            <h2 class="header">Other</h2>
                            <p class="price">
                                <span>TBA</span>
                            </p>
                            <p class="desc">Tell me what you need...</p>
                            <p>&nbsp;</p>
                            <p class="desc">This is an free and open source app, but if you like it and need more features, just let me know. If there is a demand, we'll introduce more extensive options.</p>
                            <div class="footer-button">
                                <a href="/docs#support" class="button js-docs-link">Contact Me</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>