body
    font-family font-main

::-webkit-scrollbar
    width rem-calc(5)
    background-color darken(color-main-light, 25%)
::-webkit-scrollbar-track
  background-color darken(color-main-light, 2%)
::-webkit-scrollbar-thumb
    background-color darken(color-main-light, 25%)

.s-chat-main-apps-container
    width 100%
    padding-top rem-calc(size-main-header-height)
    overflow hidden
    .overflow-auto
        overflow auto

.s-chat-header
    height rem-calc(size-main-header-height)
    background-color color-main-light
    border-bottom rem-calc(1) solid darken(color-main-light, 5%)
    color color-main-dark
    padding-left rem-calc(15)
    padding-right rem-calc(15)
    position fixed
    z-index 999
    top 0
    left 0
    width 100%
    a
        color inherit
    +below(rem-calc(480))
        .logo-text
            display none
    grid(cells-align: 'center')
    .accounts-actions
        font-weight 300
        font-size rem-calc(14)
        position relative
        .ti-user
            margin-right rem-calc(5)
        .menu-container
            display inline-block
            position relative
            +below(rem-calc(624))
                position absolute
                right 0
                top rem-calc(30)
                display none
                border rem-calc(1) solid color-main-dark
                background-color color-main-light
                padding-top rem-calc(15)
                padding-bottom rem-calc(15)
                &.visible
                    display inline-block
                .s-chat-header-button
                    display block
                    margin-left 0
                    border 0
        .mobile-menu-trigger
            display inline-block
            margin-left rem-calc(5)
            cursor pointer
            +above(rem-calc(624))
                display none
        .s-chat-header-button
            background-color color-main-light
            color color-main-contrast2
            padding rem-calc(3) rem-calc(15)
            border 0
            text-decoration none
            font-weight 300
            margin-left rem-calc(5)
            border rem-calc(1) solid color-main-contrast2
            border-radius rem-calc(2)
            transition background-color .3s, color .3s
            &:hover
                background-color color-main-contrast2
                color color-main-light
    .header-left
        cell(1, 4, g: 0)
        a
            text-decoration none
            font-weight 400
            font-size rem-calc(20)
            .logo-text-first-letter
                color color-main-contrast1
            .logo
                float left
                margin-right rem-calc(7)
                width rem-calc(35)
    .header-right
        cell(3, 4, g: 0)
        text-align right

.s-chat-modal
    width rem-calc(650)
    max-width 90%
    max-height 90%
    background-color darken(color-main-light, 1%)
    color color-main-contrast2
    position fixed
    top 50%
    left 50%
    transform translateX(-50%) translateY(-50%) translateZ(0)
    filter blur(0)
    z-index 9999
    animation-name fadeIn
    animation-duration .3s
    padding rem-calc(35)
    font-weight 400
    text-align center
    border rem-calc(5) solid color-main-contrast2
    overflow-y auto
    a
        color color-main-contrast1
        text-decoration none
    ul
        &.banned-ip-list
            max-height rem-calc(150)
            overflow-y auto
        li
            list-style-type none
    input[type=text],
    input[type=password]
        padding rem-calc(10) rem-calc(25)
        border rem-calc(1) solid darken(color-main-light, 5%)
        outline none
        text-align center
        font-size rem-calc(14)
    .s-chat-modal-content
        margin-bottom rem-calc(20)
        h2
            font-size rem-calc(30)
        .spacing-bottom
            margin-bottom rem-calc(15)
    .s-chat-modal-confirm-button,
    .s-chat-modal-cancel-button
        padding rem-calc(10) rem-calc(20)
        color color-main-light
        text-decoration none
        font-weight 400
        transition background-color .3s
        display inline-block
    .s-chat-modal-cancel-button
        background-color color-main-contrast2
        text-decoration none
        &:hover
            background-color lighten(color-main-contrast2, 15%)
            text-decoration none
    .s-chat-modal-confirm-button
        background-color color-main-contrast1
        text-decoration none
        &:hover
            background-color darken(color-main-contrast1, 15%)
            text-decoration none
    .s-chat-close-modal
        position absolute
        top rem-calc(10)
        right rem-calc(15)
        cursor pointer
        &:after
            content '✖'
            font-size rem-calc(24)
            color color-main-contrast2
            transition color .3s

@keyframes fadeIn
    0%
        opacity 0
    100%
        opacity 1