<template name="removeAccountModal">
    <div class="s-chat-modal-content">
        <h2 class="spacing-bottom">Remove account</h2>
        <p>
            Are you sure you want to remove your account?
        </p>
        <p>All your chat history and created client apps related to this account will be deleted.</p>
    </div>
    <div>
        <a href="#" class="s-chat-modal-cancel-button js-close-modal">Cancel</a>
        <a href="#" class="s-chat-modal-confirm-button js-remove-account">Confirm</a>
    </div>
</template>