<template name="removeAppModal">
    <div class="s-chat-modal-content">
        <h2 class="spacing-bottom">Remove client app</h2>
        <p>
            Are you sure you want to remove your app (id: <strong>{{clientAppId}}</strong>)?
        </p>
        <p>All your chat history related to this app will be deleted.</p>
    </div>
    <div>
        <a href="#" class="s-chat-modal-cancel-button js-close-modal">Cancel</a>
        <a href="#" class="s-chat-modal-confirm-button js-remove-client-app">Confirm</a>
    </div>
</template>