<template name="main">
    {{> header}}
    <div class="{{#if currentUser}}s-chat-main-apps-container{{else}}s-chat-main-container{{/if}} {{#if promoPage}}promo-page{{/if}} {{#if docsPage}}docs-page{{/if}}">
        {{> Template.dynamic template=layout}}
        {{#if currentUser}}
            {{> footerSmall}}
        {{else}}
            {{#if promoPage}}
                {{> footer}}
            {{/if}}
            {{#if docsPage}}
                {{> footerSmall}}
            {{/if}}
            {{#unless loggingIn}}
                {{> sChatBox}}
            {{/unless}}
        {{/if}}
    </div>
    {{#if isModalActive}}
        {{> modal}}
    {{/if}}
    {{> sAlert}}
</template>

<template name="header">
    <div class="s-chat-header">
        <div class="header-left">
            <a href="/" >
                <img src="/logo.svg" class="logo" alt="sChat - Simple Open Source Live Chat">
                <span class="logo-text"><span class="logo-text-first-letter">s</span>Chat</span>
            </a>
        </div>
        <div class="header-right accounts-actions">
            {{#if currentUser}}
                <span><i class="ti-user"></i> {{currentUser.username}}</span>
                <div class="menu-container {{#if isMobileMenuVisible}}visible{{/if}}">
                    <a href="#" class="s-chat-header-button js-remove-account">Remove account</a>
                    <a href="/change-password" class="s-chat-header-button js-change-password">Change password</a>
                    <a href="#" class="s-chat-header-button js-logout">Logout</a>
                </div>
                <div class="mobile-menu-trigger js-toggle-mobile-menu">
                    <i class="{{#if isMobileMenuVisible}}ti-close{{else}}ti-menu{{/if}}"></i>
                </div>
            {{else}}
                {{#unless loggingIn}}
                    <a href="/login" class="s-chat-header-button">Login</a>
                    <a href="/sign-up" class="s-chat-header-button">Sign Up</a>
                {{/unless}}
            {{/if}}
        </div>
    </div>
</template>

<template name="footer">
    <div class="footer-big">
        <div class="s-chat-promo-container">
            <div class="footer-big-left">
                <div>SimpleChat.Support - Open Source Live Chat App (<a href="https://github.com/juliancwirko/s-chat-app/blob/master/CHANGELOG.md">v1.2.0</a>)</div>
                <div><a href="/docs#privacy-security" class="js-docs-link">Privacy/Security Policy</a></div>
            </div>
            <div class="footer-big-right">
                <div>Built with <a href="https://www.meteor.com">Meteor</a> by <a href="http://julian.io">julian.io</a></div>
                <div><a href="/docs#support" class="js-docs-link">Support/Contact</a></div>
            </div>
        </div>
    </div>
</template>
