
// clear fix global class
.cf
    &:after,
    &:before
        display table
        content " "
    &:after
        clear both

// fonts

font-main = 'Open Sans', sans-serif

// colors

color-main-dark = #000
color-main-light = #fff
color-main-contrast1 = #C91842
color-main-contrast2 = #25232D

// sizes

size-main-header-height = 50px
size-app-header-height = 50px
size-small-footer-height = 50px
size-big-footer-height = 150px
size-left-elems = 220px // subheader left section; sidebar; footer left section